<div [formGroup]="pickerForm" class="validation">
    <div class="row">
        <div class="col-4">
            <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select formControlName="department">
                    <mat-option *ngFor="let department of departments" [value]="department">{{ department.name }}</mat-option>
                </mat-select>
                
                <mat-error *ngIf="pickerForm.get('department').invalid">{{ getErrorMessage(pickerForm.get('department')) }}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field appearance="outline" *ngIf="doctors && doctors.length">
                <mat-label>Doctor</mat-label>
                <input type="text" matInput formControlName="doctor" [matAutocomplete]="doctor">
                <mat-error *ngIf="pickerForm.get('doctor').invalid">{{ getErrorMessage(pickerForm.get('doctor')) }}</mat-error>
            </mat-form-field>
            <mat-autocomplete #doctor="matAutocomplete" [displayWith]="displayDoctorName">
                <mat-option *ngFor="let doctor of doctors" [value]="doctor">
                    {{ doctor.getFullName() }}
                </mat-option>
            </mat-autocomplete>
            <div *ngIf="!doctors">
                <mat-form-field appearance="outline">
                    <mat-label>Select department first</mat-label>
                    <input type="text" matInput [disabled]="true">
                </mat-form-field>
            </div>
            <div *ngIf="doctors && !doctors.length">
                <mat-form-field appearance="outline">
                    <mat-label>Department has no doctors</mat-label>
                    <input type="text" matInput [disabled]="true">
                </mat-form-field>
            </div>
        </div>
        <div class="col-4">
            <mat-form-field appearance="outline">
                <mat-label>Starting date</mat-label>
                <input matInput [matDatepicker]="dp" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                <mat-error *ngIf="pickerForm.get('date').invalid">{{ getErrorMessage(pickerForm.get('date')) }}</mat-error>
            </mat-form-field>
        </div>
    </div>
</div>