<table class="table table-sm mt-2" *ngIf="daysInMonth">
    <thead>
        <tr>
            <th>Employee</th>
            <th *ngFor="let day of daysInMonthArray">
                {{ day }}
            </th>
        </tr>
    </thead>
    <tbody *ngIf="rows">
        <tr *ngFor="let row of rows; let r = index">
           <td>{{ row.employee.name }}</td>
           <td *ngFor="let day of row.shifts; let d = index">
               {{ day }}
                <app-calendar-day [day]="d" [row]="r" [value]="day"></app-calendar-day>
            </td>
        </tr>
    </tbody>
</table>
<button (click)="onReset()">Reset</button>