<!-- <table class="table table-sm mt-2" [formGroup]="formRows" *ngIf="formRows">
    <thead>
        <tr>
            <th>Employee</th>
            <th *ngFor="let day of daysInMonthArray">
                {{ day }}
            </th>
        </tr>
    </thead>
    <tbody formArrayName="rows">
        <tr *ngFor="let r of formRows.get('rows').controls; let row = index" [formGroupName]="row">
            <td>
                {{ r.get('employee_id').value }}
            </td>
            <td *ngFor="let d of r.get('shifts').controls; let day = index" formArrayName="shifts">
                <app-calendar-day [parentForm]="formRows" [day]="day" [row]="row"></app-calendar-day>
            </td>
        </tr>
    </tbody>
</table> -->

<table class="table table-sm mt-2">
    <thead>
        <tr>
            <th>Employee</th>
            <th *ngFor="let day of daysInMonthArray">
                {{ day }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>emp name</td>
            <td *ngFor="let day of daysInMonthArray">
                
            </td> 
        </tr>
    </tbody>
</table>

<!-- <button (click)="onClick()">click</button> -->