<app-loading-spinner [isLoading]="editMode"></app-loading-spinner>
<app-alert></app-alert>

<h1 mat-dialog-title>{{ editMode ? 'Edit doctor' : 'Create doctor' }}</h1>
<div mat-dialog-content>
    <div class="row">
        <div [ngClass]="doctor ? 'col-7' : 'col-12'">
            <form [formGroup]="doctorForm" class="validation">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-error *ngIf="doctorForm.get('name').invalid">{{ getErrorMessage(doctorForm.get('name')) }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input type="text" matInput formControlName="surname">
                    <mat-error *ngIf="doctorForm.get('surname').invalid">{{ getErrorMessage(doctorForm.get('surname')) }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <mat-select formControlName="title">
                        <mat-option *ngFor="let title of titles" [value]="title">{{ title }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="doctorForm.get('title').invalid">{{ getErrorMessage(doctorForm.get('title')) }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Department</mat-label>
                    <input type="text" matInput formControlName="department" [matAutocomplete]="department">
                    <mat-error *ngIf="doctorForm.get('department').invalid">{{ getErrorMessage(doctorForm.get('department')) }}</mat-error>
                </mat-form-field>
                <mat-autocomplete #department="matAutocomplete" [displayWith]="displayDepartmentName">
                    <mat-option *ngFor="let department of departments" [value]="department">
                        {{ department.name }}
                    </mat-option>
                </mat-autocomplete>
            </form>
        </div>
        <div class="col-5" *ngIf="doctor">
            <app-image-gallery [ownerId]="doctor.id" [ownerType]="'doctor'" [image]="doctor.image"></app-image-gallery>
        </div>
    </div>
</div>
<mat-dialog-actions class="mb-1">
    <button mat-flat-button color="primary" (click)="onFormSubmit()">Save</button>
    <button mat-stroked-button color="basic" mat-dialog-close>Cancel</button>
</mat-dialog-actions>