#navbar-top {
    a.navbar-brand {
        font-family: 'Oswald', 'Lato', 'Arial', 'sans-serif';
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0;
        border: none;
    }

    #menu-top {
        li {
            a {
                color: #565a5a;
                padding: 0 1rem;
                border-right: 1px solid #e3e3e3;
        
                &:hover {
                    color: #4d88bb;    
                }
            }
            
            &:last-child a {
                border: none;
            }
        }
    }
}