<app-loading-spinner [isLoading]="editMode"></app-loading-spinner>
<app-alert></app-alert>
<h4>{{ editMode ? 'Edit brand' : 'Create brand' }}</h4>
<mat-card>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="General information">
            <div class="my-4">
                <form [formGroup]="brandForm" (ngSubmit)="onFormSubmit()" class="validation">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input type="text" matInput formControlName="name" name="name">
                        <mat-error *ngIf="brandForm.get('name').invalid">{{ getErrorMessage(brandForm.get('name')) }}</mat-error>
                    </mat-form-field>
                    <div>
                        <button class="btn btn-sm btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Images">
            <app-image-gallery [ownerId]="brand.id" [ownerType]="'brand'"></app-image-gallery>
        </mat-tab>
        <mat-tab label="Bikes">Content 3</mat-tab>
      </mat-tab-group> 
</mat-card>