<mat-toolbar class="mb-4">
    <h4>Departments</h4>
    <div class="ml-2">
        <button mat-flat-button color="primary" (click)="onAddDepartment()">Add</button>
    </div>
</mat-toolbar>

<div *ngIf="departments">
    <mat-card>
        <mat-card-content>
            <table class="table table-borderless mb-0">
                <thead>
                    <th colspan="2">Name</th>
                </thead>
                <tbody>
                    <tr *ngFor="let department of departments" app-department-list-item [department]="department"></tr>
                </tbody>
            </table>
            <app-pagination [pager]="pager"></app-pagination>
        </mat-card-content>
    </mat-card>
</div>
