<div [formGroup]="rotaForm" class="validation">
    <div class="row">
        <div class="col-4">
            <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                <input type="text" matInput formControlName="department" [matAutocomplete]="department">
                <mat-error *ngIf="rotaForm.get('department').invalid">{{ getErrorMessage(rotaForm.get('department')) }}</mat-error>
            </mat-form-field>
            <mat-autocomplete #department="matAutocomplete" [displayWith]="displayDepartmentName">
                <mat-option *ngFor="let department of departments" [value]="department">
                    {{ department.name }}
                </mat-option>
            </mat-autocomplete>
        </div>
        <div class="col-4">
            <mat-form-field appearance="outline">
                <mat-label>Month</mat-label>
                <mat-select formControlName="month">
                    <mat-option *ngFor="let month of months; let i = index" [value]="i">
                        {{ month }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="rotaForm.get('month').invalid">{{ getErrorMessage(rotaForm.get('month')) }}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field appearance="outline">
                <mat-label>Year</mat-label>
                <mat-select formControlName="year">
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{ year }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="rotaForm.get('year').invalid">{{ getErrorMessage(rotaForm.get('year')) }}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto text-center">
            <span>1 - 7</span><button class="btn btn-link">asd</button>
        </div>
    </div>
</div>