.table td, .table th {
    text-align: center;
}

.table-secondary, .table-secondary > th, .table-secondary > td {
    background-color: #f5f5f5;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #00966e;
}