<app-loading-spinner [isLoading]="editMode"></app-loading-spinner>
<app-alert></app-alert>
<div mat-dialog-content>
    <h1 mat-dialog-title>{{ editMode ? 'Edit department' : 'Create department' }}</h1>
    <form [formGroup]="departmentForm" class="validation">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error *ngIf="departmentForm.get('name').invalid">{{ getErrorMessage(departmentForm.get('name')) }}</mat-error>
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions class="mb-1">
    <button mat-flat-button color="primary" (click)="onFormSubmit()">Save</button>
    <button mat-stroked-button color="basic" mat-dialog-close>Cancel</button>
</mat-dialog-actions>