<div class="d-flex mb-2 justify-content-between align-items-center">
    <div class="d-flex">
        <h4>Doctors</h4>
        <div class="ml-2">
            <button mat-flat-button color="primary" (click)="onAddDoctor()">Add</button>
        </div>
    </div>
    <div>
        <app-search (searchTermUpdate)="onSearchTermUpdate($event)"></app-search>
    </div>
</div>

<app-alert></app-alert>

<div class="row">
    <div class="col-sm-12">
        <!-- <app-loading-spinner></app-loading-spinner> -->
        <div *ngIf="doctors">
            <table class="table table-striped">
                <thead>
                    <th colspan="2">Name</th>
                    <th>Department</th>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of doctors" app-doctor-list-item [doctor]="doctor"></tr>
                </tbody>
            </table>
            <app-pagination [pager]="pager"></app-pagination>
        </div>
    </div>
</div>
    