<div class="d-flex mb-2 justify-content-between align-items-center">
    <div class="d-flex">
        <h4>Doctors</h4>
        <div class="ml-2">
            <a routerLink="create" class="btn btn-sm btn-primary">Add</a>
        </div>
    </div>
    <div>
        <app-search (searchTermUpdate)="onSearchTermUpdate($event)"></app-search>
    </div>
</div>

<app-alert></app-alert>

<div class="row">
    <div class="col-sm-12">
        <app-loading-spinner></app-loading-spinner>
        <div *ngIf="doctors">
            <table class="table table-striped table-sm">
                <thead>
                    <th>Name</th>
                    <th colspan="2">Surname</th>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of doctors" app-doctor-list-item [doctor]="doctor"></tr>
                </tbody>
            </table>
            <app-pagination [pager]="pager"></app-pagination>
        </div>
    </div>
</div>
    