<mat-toolbar class="d-flex justify-content-between mb-4 align-items-center">
    <div class="d-flex">
        <h4>Doctors</h4>
        <button mat-flat-button color="primary" (click)="onAddDoctor()" class="ml-2">Add</button>
    </div>
    <app-search (searchTermUpdate)="onSearchTermUpdate($event)"></app-search>
</mat-toolbar>

<div *ngIf="doctors">
    <mat-card>
        <mat-card-content>
            <table class="table table-borderless mb-0">
                <thead>
                    <th colspan="2">Name</th>
                    <th>Department</th>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of doctors" app-doctor-list-item [doctor]="doctor"></tr>
                </tbody>
            </table>
            <app-pagination [pager]="pager"></app-pagination>
        </mat-card-content>
    </mat-card>
</div>