<div class="d-flex justify-content-between">
    <div>
        <h1 mat-dialog-title class="mb-0">{{ doctor.getFullName() }}</h1>
        <p class="small">Manage appointments {{ getDateTime() }}</p>
    </div>
    <div *ngIf="doctor.image">
        <div class="circular-portrait">
            <img [src]="doctor.image.getUrl()">
        </div>
    </div>
</div>
<mat-dialog-content>
    <h5>{{ editMode ? 'Edit appointment' : 'Create appointment' }}</h5>
    <form [formGroup]="appointmentForm">
        <mat-form-field appearance="outline">
            <mat-label>Patient</mat-label>
            <input type="text" matInput formControlName="patient" [matAutocomplete]="patient">
            <mat-error *ngIf="appointmentForm.get('patient').invalid">{{ getErrorMessage(appointmentForm.get('patient')) }}</mat-error>
        </mat-form-field>
        <mat-autocomplete #patient="matAutocomplete" [displayWith]="displayPatientName">
            <mat-option *ngFor="let patient of patients" [value]="patient">
                {{ patient.getFullName() }}
            </mat-option>
        </mat-autocomplete>
        <mat-form-field appearance="outline">
            <mat-label>Service</mat-label>
            <input type="text" matInput formControlName="service" [matAutocomplete]="service">
            <mat-error *ngIf="appointmentForm.get('service').invalid">{{ getErrorMessage(appointmentForm.get('service')) }}</mat-error>
        </mat-form-field>
        <mat-autocomplete #service="matAutocomplete" [displayWith]="displayServiceName">
            <mat-option *ngFor="let service of services" [value]="service">
                {{ service.name }}
            </mat-option>
        </mat-autocomplete>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="mb-1">
    <button mat-flat-button color="primary" (click)="onFormSubmit()">Save</button>
    <button mat-stroked-button color="basic" mat-dialog-close>Cancel</button>
    <button mat-stroked-button color="warn" mat-dialog-close (click)="onDeleteAppointment()" *ngIf="editMode" class="ml-auto">Cancel appointment</button>
</mat-dialog-actions>