<mat-toolbar class="mb-4">
    <h4>Patients</h4>
    <div class="ml-2">
        <button mat-flat-button color="primary" (click)="onAddPatient()">Add</button>
    </div>
</mat-toolbar>

<div *ngIf="patients">
    <mat-card>
        <mat-card-content>
            <table class="table table-borderless mb-0">
                <thead>
                    <th colspan="2">Name</th>
                    <th>Date of birth</th>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of patients" app-patient-list-item [patient]="patient"></tr>
                </tbody>
            </table>
            <app-pagination [pager]="pager"></app-pagination>
        </mat-card-content>
    </mat-card>
</div>