<app-loading-spinner [isLoading]="editMode"></app-loading-spinner>
<app-alert></app-alert>

<h1 mat-dialog-title>{{ editMode ? 'Edit service' : 'Create service' }}</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-7">
            <form [formGroup]="serviceForm" (ngSubmit)="onFormSubmit()" class="validation">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-error *ngIf="serviceForm.get('name').invalid">{{ getErrorMessage(serviceForm.get('name')) }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error *ngIf="serviceForm.get('description').invalid">{{ getErrorMessage(serviceForm.get('description')) }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Department</mat-label>
                    <input type="text" matInput formControlName="department" [matAutocomplete]="department">
                    <mat-error *ngIf="serviceForm.get('department').invalid">{{ getErrorMessage(serviceForm.get('department')) }}</mat-error>
                </mat-form-field>
                <mat-autocomplete #department="matAutocomplete" [displayWith]="displayDepartmentName">
                    <mat-option *ngFor="let department of departments" [value]="department">
                        {{ department.name }}
                    </mat-option>
                </mat-autocomplete>
                <button mat-flat-button color="primary">Save</button>
            </form>
        </div>
    </div>
</div>