<!-- <select (change)="onChangeShift()">
    <option value="0">-</option>
    <option value="1">8-16</option>
    <option value="2">10-16</option>
    <option value="3">10-18</option>
</select> -->

<!-- <p>Day: {{ day }} Row: {{ row }} Value: {{ value }}</p>

<select [formControl]="dayValue">
    <option value="0">-</option>
    <option value="1">8-16</option>
    <option value="2">10-16</option>
    <option value="3">10-18</option>
</select> -->

<div [formGroup]="parentForm">
    <input type="text" [formControlName]="name">
</div>

<!-- <span><button (click)="onChangeShift()">click</button></span> -->